
 
{{ 'collection-slider.css' | asset_url | stylesheet_tag  }}

{%- style -%}

  .img-explore{
    width:100%;
    height:auto;
  }

  .featured-collection-slider{
    padding-top: {{ section.settings.padding_top }}px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .collection-padding{
    padding-bottom: {{ section.settings.padding_bottom }}px;
    text-transform:uppercase;
  }
  
  .featured-collection-slider .carousel-cell{
    width:25%;
    padding: 0 15px;
    display: block;
  }
  
  .flickity-button:disabled{
    pointer-events: all!important;
  }

  .product-title-heading{
    text-align:center;
  }

  .product-block{
    text-decoration:none;
  }
  
  .slider-info h4{
    padding-top:20px;
    text-transform:uppercase;
    margin-bottom:0;
  }

  .section-header h2{
    font-weight:600;
  }
  
@media screen and (max-width: 920px){
  .featured-collection-slider{
    padding-left: 15px;
    padding-right: 15px;
  }
  .featured-collection-slider .carousel-cell{
    width:50%;
  }
}
@media screen and (max-width: 767px){
  .featured-collection-slider .carousel-cell{
    width:100%;
  }
}
  
{%- endstyle -%}

{%- capture flickity_options -%}
{
  "prevNextButtons": true,
  "pageDots": true,
  "contain": true,
  "cellAlign": "center",
  "groupCells": false
}
{%- endcapture -%}
 
<div class="featured-collection-slider page-width ">
{% if section.settings.title != blank %}
<div class="section-header text-center">
  <h2 class="{{ section.settings.content_alignment }} collection-padding">{{ section.settings.title | escape }}</h2>
</div>
{% endif %}
 
{%- assign collection = collections[section.settings.collection] -%}
{%- assign product_limit = section.settings.product_count -%}
 
    <div class="products-carousel js-flickity" data-flickity='{{ flickity_options }}'>
      {% for product in collection.products limit: product_limit %}
        <div class="carousel-cell ">
          <a href="{{ product.url | within: collection }}" class="product-block">
            <img class="img-explore" src="{{ product.featured_image | img_url: 'master'}}">
            <div class="slider-info">
              <h4 class="">{{ product.title }}</h4>
              <p>{{ product.price | money }}</p>
            </div>
          </a>
      </div>  
    {% endfor %}
    </div>
</div>

 
{% schema %}
{
  "name": "Collection Slider",
  "settings": [
    {
      "type": "select",
      "id": "content_alignment",
      "options": [
        {
          "value": "left",
          "label": "left"
        },
        {
          "value": "center",
          "label": "center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center",
      "label": "Center"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Featured Collection"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "product_count",
      "min": 4,
      "max": 12,
      "label": "Number of products to display",
      "default": 4
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "padding_top",
      "default": 20
    },
     {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "padding_bottom",
      "default": 20
    }
  ],
  "presets": [
    {
      "category": "Collection",
      "name": "Collection Slider",
      "settings": {}
    }
  ]
}
{% endschema %}