{{ 'custom-header.css' | asset_url | stylesheet_tag }}

<header>

    <div class="container">
      <div class="logo">
            <div class="search-bar">
                <form action="/search">
                    <input type="search" name="q" />
                    <button type="submit">search</button>
                </form>
            </div>
            <div class="logo-name">
               <a href="https://gulabinagri.myshopify.com">
                 {%- if section.settings.logo-image != blank -%}
                  {{ section.settings.logo-image | img_url: '100x100' | img_tag: section.settings.image.alt }}
                 {%- else -%}
                   {% render 'bando' %}
                  {%- endif -%}
                </a>  
            </div>
            <div class="register">
               <a href="{{ routes.account_login_url }}"> Login </a>
                <div class="cart-icon-class">
                  <a href="{{ routes.cart_url }}" target="_blank"> {% render 'icon-cart' %}</a>
                </div>
            </div>  
        </div>
      </div>
    <div class="main-menu">
      <ul class="main-menu-list">
        {% for link in linklists.main-menu.links -%}
            <li class="main-menu-list-item"> {{ link.title | link_to: link.url }} </li> 
        {%- endfor %}   
      </ul>
    </div>
   
</header>

{% schema %}

{
    "name" : "Header",
    "settings" : [
         
            {
                "type": "image_picker",
                "id": "logo-image",
                "label": "logo image"               
            }
    ]  
}

{% endschema %}